<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Youtube Singles Audio Dump</h1>
        <form action="/" method="post">
            <button type="submit">Home</button>
        </form>
        <form action="/hot_singles_results_route" method="post">
            <input type="text" name="hot_singles_results" placeholder = "https://www.youtube.com/watch?v=6B7PqW2NKeQ" required>
            <button type="input">search</button>
            <label>
                <input type="checkbox" name="Video" value="True">
                Download as Video?
            </label>
        </form>
        <p>


        </p>
        <h3>Put a youtube link in the search bar to rip audio ex: https://www.youtube.com/watch?v=6B7PqW2NKeQ</h2>
        <h3>would download the audio to Deeper by Lena Raine</h3>
    </body>
</html>